include ../button/button.pug
mixin dropdown(options={width: '', type: '', labelText: '', categories: {}, buttons: false})
  -
    let elemName='dropdown'
    let minus = '-'
    let plus = '+'
    let width = ''
    let inputStyle = ''
    let typeParam = options.type=='dropDownRooms'
    let widthParam = options.width=='narrow'
    width = widthParam ? '_width_narrow' : '_width_wide'
    inputStyle = typeParam ? '_notrounded' : '_rounded'
  div(class = elemName + ' js-' + elemName + ' ' + elemName + width)
    div(class = elemName + '__input-wrapper ')
      label(class = elemName + '__label')
        if options.labelText
          p(class = elemName + '__label-text')=options.labelText
        image(class = elemName + '__image ' + 'js-' + elemName + '__image ' + elemName + '__image_collapsed', src = require('@com/dropdown/image/expand-more.svg')  alt = 'раскрывающийся список')
        input(class = elemName + '__input ' + 'js-' + elemName + '__input ' + elemName + '__input_collapsed ' + elemName + '__input' + inputStyle readonly = true, value = '' placeholder = options.placeholder)
    div(class = elemName + '__list-wrapper ' + 'js-' + elemName + '__list-wrapper ' + elemName + '__list-wrapper_hidden')
      ul(class = elemName + '__list')
        each value, index in options.categories
          li(class = elemName + '__cat-wrapper ' + 'js-' +  elemName + '__cat-wrapper')
            p(class = elemName + '__cat ' + 'js-' + elemName + '__cat' data-type = value.type data-declensions = value.declensions)=value.displayName
            div(class = elemName + '__count-wrapper')
              button(class = elemName + '__count-decrement ' + 'js-' + elemName + '__count-decrement' data-min = value.minCount type = 'button' aria-label = 'уменьшить количество')=minus
              span(class = elemName + '__count-value ' + 'js-' + elemName + '__count-value')=value.defaultCount
              button(class = elemName + '__count-increment ' + 'js-' + elemName + '__count-increment' data-max = value.maxCount type = 'button' aria-label = 'увеличить количество')=plus
      if (options.buttons)
        div(class = elemName+'__buttons')
          div(class = elemName + '__button-clear ' + 'js-' + elemName + '__button-clear')
            +btn(
              {text: 'очистить',
              type: 'plain-text'}
              )
          div(class = elemName + '__button-apply ' + 'js-' + elemName + '__button-apply')
            +btn(
              {text: 'применить',
              type: 'plain-text'}
              )