extends ../ui-kit-layout/ui-kit-layout.pug
mixin color-card(options={})
	-
		var elemName = "color-card"
	div(class=elemName)
		div(class=elemName+'__color '+elemName+'__color_'+options.color)
		div(class=elemName+'__name')=options.name
		div(class=elemName+'__code')=options.code
mixin type-card(options={})
	-
		var elemName = "type-card"
	span(class=elemName)
		span(class=elemName+'__name '+elemName+'__name_'+options.style)=options.name
		span(class=elemName+'__text '+elemName+'__text_'+options.style)=options.text
block title
	title Colors & Type
block content 
	div(class='colors-types__wrapper')
		div(class='colors-types__cards')
			div(class="colors-types__colors-wrapper")
				+color-card({color: 'dark-shade-100', name: 'Dark Shade 100%',code: '#1F2041'})
				+color-card({color: 'dark-shade-75', name: 'Dark Shade 75%',code: '#1F2041'})
				+color-card({color: 'dark-shade-50', name: 'Dark Shade 50%',code: '#1F2041'})
				+color-card({color: 'dark-shade-25', name: 'Dark Shade 25%',code: '#1F2041'})
				+color-card({color: 'dark-shade-5', name: 'Dark Shade 5%',code: '#1F2041'})
				+color-card({color: 'purple', name: 'Purple',code: '#BC9CFF'})
				+color-card({color: 'green', name: 'Green',code: '#6FCF97'})
			div(class="colors-types__types-wrapper")
				+type-card({name: 'H1', text: 'This one is the sub-section or widget title', style: 'h1'})
				+type-card({name: 'H2', text: 'Next one is the item title inside widgets', style: 'h2'})
				+type-card({name: 'H3', text: 'This is a label or cta text', style: 'h3'})
				+type-card({name: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', style: 'body'})