mixin input(classList="", val="", readonly=false, placeholder="", type="text")
	-
		var classList = "input" + classList
	input(class=classList, value=val, readonly=readonly, placeholder=placeholder, type=type)





