mixin rate-button({ labelText = '', ratingName = '' } = {})
  -
    const elementName = 'rate-button'
    const rates = {
      'Отлично':'5', 
      'Хорошо':'4', 
      'Удовлетворительно':'3', 
      'Плохо':'2', 
      'Очень плохо':'1',
    }

  div(class = elementName)
    legend(class = `${elementName}__caption`)= labelText
    div(class = `${elementName}__star-image-group`)
    div(class = `${elementName}__group`)
      for rateValue, index in rates
        input(class = `${elementName}__star` type = "radio" name = ratingName value = rateValue aria-label = index)
        span(class = `${elementName}__star-image`)
