mixin rate-button(options = {})
  -
    const {
      ratingName = '',
      labelText = '',
      rating = 1,
    } = options

    const prepareOptions = require ('@com/rate-button/rate-button-utils.js').default;

    const {
    elementName,
    categoriesChecked
    } = prepareOptions({
      rating
    });


  div(class = elementName)
    legend(class = `${elementName}__caption`)= labelText
    div(class = `${elementName}__star-image-group`)
    div(class = `${elementName}__group`)
      each category in categoriesChecked
        - const {rateValue = '', index = '', isChecked = false} = category
        input(class = `${elementName}__star` type = "radio" name = ratingName value = rateValue aria-label = index checked = isChecked)
        span(class = `${elementName}__star-image`)
