include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../range-slider/range-slider.pug
include ../checklist/checklist.pug
include ../button/button.pug

mixin filter-form()
  -
    const {
      dropdownRooms,
      dropdownGuests,
      filterDateDropdown,
      rangeSlider,
      checkListExpandable,
      checkListCheckBox,
      checkListRichCheckBox,
    } = require('@com/filter-form/filter-form.json')

    const elementName ='filter-form'

  div(class = `${elementName} js-${elementName}`)
    div(class = `${elementName}__show-filter js-${elementName}__show-filter`)
    div(class = `${elementName}__wrapper js-${elementName}__wrapper`)
      div(class = `${elementName}__calendar-wrapper`)
        +date-dropdown(filterDateDropdown)
      div(class = `${elementName}__guests-wrapper`)
        +dropdown(dropdownGuests)
      div(class = `${elementName}__price-filter-wrapper`)
        +range-slider(rangeSlider)
      div(class = `${elementName}__house-rules-wrapper`)
        +checklist(checkListCheckBox)
      div(class = `${elementName}__accessability-wrapper`)
        +checklist(checkListRichCheckBox)
      div(class = `${elementName}__facilities-wrapper`)
        +dropdown(dropdownRooms)
      div(class = `${elementName}__facilities-adv-wrapper`)
        +checklist(checkListExpandable)





