include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../range-slider/range-slider.pug
include ../checklist/checklist.pug
include ../button/button.pug

mixin filter-form()
  -
    const {
      dropdownRooms,
      dropdownGuests,
      filterDateDropdown,
      rangeSlider,
      checkListExpandable,
      checkListCheckBox,
      checkListRichCheckBox,
    } = require('@com/filter-form/filter-form.json')

    const elementName ='filter-form'

  form(class = `${elementName} js-${elementName}`)
    div(class = `${elementName}__show-filter js-${elementName}__show-filter`)
      image(class = `${elementName}__show-filter-image` 
        src = require('@com/filter-form/image/filter.svg') alt = 'фильтр поиска')
    div(class = `${elementName}__wrapper js-${elementName}__wrapper`)
      div(class = `${elementName}__calendar-wrapper`)
        +date-dropdown({
          width: filterDateDropdown.width,
          type: filterDateDropdown.type,
          labelTextFromTo: filterDateDropdown.labelTextFromTo})
      div(class = `${elementName}__guests-wrapper`)
        +dropdown({
          categories: dropdownGuests.categories, 
          type: dropdownGuests.type,
          placeholder: dropdownGuests.placeholder,
          hasButtons: dropdownGuests.hasButtons,
          labelText: dropdownGuests.labelText,
          width: dropdownGuests.width})
      div(class = `${elementName}__price-filter-wrapper`)
        +range-slider({
          labelText: rangeSlider.labelText,
          sliderType: rangeSlider.sliderType, 
          min: rangeSlider.min, 
          max: rangeSlider.max, 
          step: rangeSlider.step, 
          from: rangeSlider.from, 
          to: rangeSlider.to, 
          isMinMaxHidden: rangeSlider.isMinMaxHidden, 
          isFromToHidden: rangeSlider.isFromToHidden,
          text: rangeSlider.text})
      div(class = `${elementName}__house-rules-wrapper`)
        +checklist({
          categories: checkListCheckBox.categories,
          isExpanded: checkListCheckBox.isExpanded,
          isRich: checkListCheckBox.isRich, 
          labelText: checkListCheckBox.labelText})
      div(class = `${elementName}__accessability-wrapper`)
        +checklist({
          categories: checkListRichCheckBox.categories,
          isExpanded: checkListRichCheckBox.isExpanded,
          isRich: checkListRichCheckBox.isRich, 
          labelText: checkListRichCheckBox.labelText})
      div(class = `${elementName}__facilities-wrapper`)
        +dropdown({
          categories: dropdownRooms.categories, 
          type: dropdownRooms.type,
          placeholder: dropdownRooms.placeholder,
          labelText: dropdownRooms.labelText,
          width: dropdownRooms.width})
      div(class = elemName + '__facilities-adv-wrapper')
        +checklist({
          categories: checkListExpandable.categories,
          isExpanded: checkListExpandable.isExpanded,
          isRich: checkListExpandable.isRich, 
          labelText: checkListExpandable.labelText})





