include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin search-room()
  -
    const {
      dropdownGuests,
      dateDropdown,
      buttonDarkLong
    } = require('@com/search-room/search-room.json')

    const elementName = 'search-room'

  form(class = `${elementName} js-${elementName}`)
    h1(class = `${elementName}__header`) Найдем номера под ваши пожелания
    div(class = `${elementName}__date-dropdown`)
      +date-dropdown({
        width: dateDropdown.width,
        type: dateDropdown.type,
        labelTextFrom: dateDropdown.labelTextFrom,
        labelTextTo: dateDropdown.labelTextTo})
    div(class = `${elementName}__guests`)
      +dropdown({
        categories: dropdownGuests.categories, 
        type: dropdownGuests.type,
        placeholder: dropdownGuests.placeholder,
        hasButtons: dropdownGuests.hasButtons,
        labelText: dropdownGuests.labelText,
        width: dropdownGuests.width})
    div(class = `${elementName}__search`)
      +button({
        text: buttonDarkLong.text,
        type: buttonDarkLong.type,
        length: buttonDarkLong.length,
        width: buttonDarkLong.width,
        color: buttonDarkLong.color,
        hasImage: buttonDarkLong.hasImage})

