include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin search-room()
  -
    const {
      dropdownGuests,
      dateDropdown,
      button
    } = require('@com/search-room/search-room.json')

    const elementName = 'search-room'

  form(class = `${elementName} js-${elementName}`)
    span(class = `${elementName}__message js-${elementName}__message`) Заполните все поля!
    h1(class = `${elementName}__header`) Найдём номера под ваши пожелания
    div(class = `${elementName}__date-dropdown`)
      +date-dropdown(dateDropdown)
    div(class = `${elementName}__guests`)
      +dropdown(dropdownGuests)
    div(class = `${elementName}__search`)
      +button(button)

