mixin button({text = '', type = 'button', length = 'short', width = 'wide', color = 'dark', href = 'https://test/test', image = false} = {})
  -
    function isInList (list, value, defaultValue) {
      return value = list.includes(value) ? value : defaultValue
    }

    function checkType (type, value, defaultValue){
      return typeof value === type ? value : defaultValue
    }

    const elementName = 'button'

    const validTypes = ['button', 'submit', 'link', 'plain-text']
    type = isInList(validTypes, type, 'button')

    const validLengths = ['very-long', 'long', 'short', 'very-short']
    length = isInList(validLengths, length, 'short')

    const validWidths = ['wide', 'narrow']
    width = isInList(validWidths, width, 'wide')

    const validColors = ['dark', 'light']
    color = isInList(validColors, color, 'dark')

    href = checkType('string', href, 'https://test/test')

  case type
    when 'button'
      button(class = `${elementName} ${elementName}_length_${length} ${elementName}_width_${width} ${elementName}_color_${color}` 
        type = 'button')= text
    when 'submit'
      button(class = `${elementName} ${elementName}_length_${length} ${elementName}_width_${width} ${elementName}_color_${color}` 
        type = 'submit')= text
        if image
          image(class = `${elementName}__image`, src = require('@com/button/image/arrow-forward-white.svg'))
    when 'link'
      a(class = `${elementName} ${elementName}_length_${length} ${elementName}_width_${width} ${elementName}_color_${color}` href = href)= text
    when 'plain-text'
      button(class = `${elementName} ${elementName}_type_plain-text` type = 'button')= text
