mixin button({text = '', type = '', length = '', width = '', color = '', href = '', image = false} = {})
  -
    const elementName = 'button'
  case type
    when 'button'
      button(class = `${elementName} ${elementName}_length_${length} ${elementName}_width_${width} ${elementName}_color_${color}` 
        type = 'button')= text
    when 'submit'
      button(class = `${elementName} ${elementName}_length_${length} ${elementName}_width_${width} ${elementName}_color_${color}` 
        type = 'submit')= text
        if image
          image(class = `${elementName}__image`, src = require('@com/button/image/arrow-forward-white.svg'))
    when 'link'
      a(class = `${elementName} ${elementName}_length_${length} ${elementName}_width_${width} ${elementName}_color_${color}` href = href)= text
    when 'plain-text'
      button(class = `${elementName} ${elementName}_type_plain-text` type = 'button')= text
