mixin button(options = {})
  -
    function getValidValue (list, value, defaultValue) {
      return value = list.includes(value) ? value : defaultValue
    }

    function checkType (type, value, defaultValue){
      return typeof value === type ? value : defaultValue
    }

    let {type = 'button', 
      length = 'short', 
      width = 'wide', 
      color = 'dark',
      href = 'https://test/test'} = options

    const {text = '', 
      hasArrow = false} = options

    const elementName = 'button'
    const arrowModifier = hasArrow ? `${elementName}_has-arrow` : ''

    const validTypes = ['button', 'submit', 'link', 'plain-text']
    type = getValidValue(validTypes, type, 'button')

    const validLengths = ['very-long', 'long', 'short', 'very-short']
    length = getValidValue(validLengths, length, 'short')

    const validWidths = ['wide', 'narrow']
    width = getValidValue(validWidths, width, 'wide')

    const validColors = ['dark', 'light']
    color = getValidValue(validColors, color, 'dark')

    href = checkType('string', href, 'https://test/test')

  case type
    when 'button'
      button(class = `${elementName} ${elementName}_length_${length} ${elementName}_width_${width} ${elementName}_color_${color}` 
        type = 'button')= text
    when 'submit'
      button(class = `${elementName} ${arrowModifier} ${elementName}_length_${length} ${elementName}_width_${width} ${elementName}_color_${color}` 
        type = 'submit')= text
    when 'link'
      a(class = `${elementName} ${elementName}_length_${length} ${elementName}_width_${width} ${elementName}_color_${color}` href = href)= text
    when 'plain-text'
      button(class = `${elementName} ${elementName}_plain-text` type = 'button')= text
