mixin button(options = {})
  -
    const {
      type = 'button',
      length = 'short',
      width = 'wide',
      color = 'dark',
      href = 'https://test/test',
      text = '',
      hasArrow = false,
    } = options;
    
    const prepareOptions = require ('@com/button/button-utils.js').default;

    const {
      elementName,
      arrowModifier,
      typeChecked,
      lengthChecked,
      widthChecked,
      colorChecked,
      hrefChecked,
    } = prepareOptions({
        type,
        length,
        width,
        color,
        href,
        hasArrow,
      });

  case typeChecked
    when 'button'
      button(class = `${elementName} ${elementName}_length_${lengthChecked} ${elementName}_width_${widthChecked} ${elementName}_color_${colorChecked}` 
        type = "button")= text
    when 'submit'
      button(class = `${elementName} ${arrowModifier} ${elementName}_length_${lengthChecked} ${elementName}_width_${widthChecked} ${elementName}_color_${colorChecked}` 
        type = "submit")= text
    when 'link'
      a(class = `${elementName} ${elementName}_length_${lengthChecked} ${elementName}_width_${widthChecked} ${elementName}_color_${colorChecked}` href = hrefChecked)= text
    when 'plain-text'
      button(class = `${elementName} ${elementName}_plain-text` type = "button")= text
