mixin checklist(options = {})
  -
    const {categories = [],
      isExpandable = false,
      isRich = false,
      labelText = ''} = options

    const elementName = 'checklist'
    const style = isExpandable?`${elementName}_collapsing`: ''
    const nameStyle = isRich ? `${elementName}__category-name_rich` : ''

  fieldset(class = `${elementName} js-${elementName} ${style}`)
    p(class = `${elementName}__label js-${elementName}__label` tabindex = 0)= labelText
    ul(class = `${elementName}__list-wrapper js-${elementName}__list-wrapper`)
      if Array.isArray(categories) && categories.length
        each value in categories
          - const {name = '', description = ''} = value
          li(class = `${elementName}__category-wrapper`)
            label(class = `${elementName}__category`)
              if name
                input(class = `${elementName}__category-checkbox` type="checkbox" name = labelText value = name)
                span(class = `${elementName}__category-checkmark`)
                div(class = `${elementName}__category-text`)
                  p(class = `${elementName}__category-name ${nameStyle}`)= name
                  if isRich && description
                    p(class = `${elementName}__category-description`)= description