include ../button/button.pug

mixin date-dropdown(options = {})
  -
    function getValidValue (list, value, defaultValue) {
      return value = list.includes(value) ? value : defaultValue
    }
    let { type = 'dateDropDown'} = options
    const { labelTextFrom = '', labelTextTo = '', labelTextFromTo = ''} = options

    const elementName='date-dropdown'

    const validTypes = ['dateDropDown', 'filterDateDropDown']
    type = getValidValue(validTypes, type, 'dateDropDown')

    const modifier = type == 'filterDateDropDown' ? `${elementName}__calendar-wrapper_width_narrow` : ''
    const width =  type == 'filterDateDropDown' ? '_width_narrow' : '_width_wide'

  div(class = `${elementName} js-${elementName} js-${elementName}_type_${type} ${elementName}${width}`)
    if type == 'dateDropDown'
      div(class = `${elementName}__input-wrapper js-${elementName}__input-wrapper`)
        label(class = `${elementName}__label`)
          if labelTextFrom
            p(class = `${elementName}__label-text`)= labelTextFrom
          input(class = `${elementName}__input js-${elementName}__input ${elementName}__input_from js-${elementName}__input_from ${elementName}__input_width_narrow`
            placeholder = 'ДД.ММ.ГГГГ' type = "date")
      div(class = `${elementName}__input-wrapper js-${elementName}__input-wrapper`)
        label(class = `${elementName}__label`)
          if labelTextTo
            p(class = `${elementName}__label-text`)= labelTextTo
          input(class = `${elementName}__input js-${elementName}__input ${elementName}__input_to js-${elementName}__input_to ${elementName}__input_width_narrow`
            placeholder = 'ДД.ММ.ГГГГ', type = "date")
    if type == 'filterDateDropDown'
      div(class = `${elementName}__input-wrapper js-${elementName}__input-wrapper`)
        label(class = `${elementName}__label`)
          if labelTextFromTo
            p(class = `${elementName}__label-text`)= labelTextFromTo
          input(class=`${elementName}__input js-${elementName}__input ${elementName}__input_from-to js-${elementName}__input_from-to ${elementName}__input_width_wide`
            type = "text")
    div(class = `${elementName}__calendar-wrapper js-${elementName}__calendar-wrapper ${elementName}__calendar-wrapper_hidden ${modifier}`)
      div(class = `${elementName}__buttons`)
        div(class = `${elementName}__button-clear js-${elementName}__button-clear`)
          +button({text: 'очистить', type: 'plain-text'})
        div(class = `${elementName}__button-apply js-${elementName}__button-apply`)
          +button({text: 'применить', type: 'plain-text'})
