mixin date-dropdown(elemName)
	-
		var modificator=""
		elemName=="filterDateDropDown"?modificator=elemName+"__calendarWrapper-narrow":modificator=""
	div(class=elemName)
		if elemName=='dateDropDown'
			div(class=elemName+"__inputWrapper")
				img(class=elemName+"__img "+elemName+"__img-from collapsed", src="assets/img/interface/expand_more.svg")
				label(class=elemName+"__label") date dropdown
				input(class=elemName+"__input-from inputBase inputRounded inputNarrow inputMasked", placeholder="ДД.ММ.ГГГГ", type=text)
			div(class=elemName+"__inputWrapper")
				img(class=elemName+"__img "+elemName+"__img-to collapsed", src="assets/img/interface/expand_more.svg")
				label(class=elemName+"__label") date dropdown
				input(class=elemName+"__input-to inputBase inputRounded inputNarrow inputMasked", placeholder="ДД.ММ.ГГГГ", type=text)
		if elemName=="filterDateDropDown"
			div(class=elemName+"__inputWrapper")
				img(class=elemName+"__img "+elemName+"__img-fromto collapsed", src="assets/img/interface/expand_more.svg")
				label(class=elemName+"__label") filter date dropdown
				input(class=elemName+"__input-fromto inputBase inputRounded inputMedium inputMasked", value="2022-01-01,2022-01-03", type=text, readonly=true)
		div(class=elemName+"__calendarWrapper "+modificator+" hidden")
			div(class=elemName+"__buttons")
				button(class=elemName+"__button-clear") очистить
				button(class=elemName+"__button-apply") применить



