include ../button/button.pug
include ../input-date/input-date.pug
include ../error-message/error-message.pug

mixin date-dropdown(options = {})
  -
    const { 
      type, 
      labelTextFrom = '', 
      labelTextTo = '', 
      labelTextFromTo = '',
      visibility = false,
    } = options

    const prepareOptions = require ('@com/date-dropdown/date-dropdown-utils.js').default;

    const {
      elementName,
      typeChecked,
      width,
      modifiers,
      visibilityChecked
    } = prepareOptions({ 
      type,
      visibility 
    });

  div(class = `${elementName} js-${elementName} js-${elementName}_type_${typeChecked} ${elementName}${width}`)
    if typeChecked === 'dateDropDown'
      div(class = `${elementName}__input-wrapper js-${elementName}__input-wrapper ${elementName}__input-wrapper_type_from js-${elementName}__input-wrapper_type_from`)
        +input-date({labelText: labelTextFrom, placeholderColor: 'dark', isCustomValidation: true,})
      div(class = `${elementName}__input-wrapper js-${elementName}__input-wrapper ${elementName}__input-wrapper_type_to js-${elementName}__input-wrapper_type_to`)
        +input-date({labelText: labelTextTo, placeholderColor: 'dark', isCustomValidation: true})
    if typeChecked === 'filterDateDropDown'
      div(class = `${elementName}__input-wrapper js-${elementName}__input-wrapper ${elementName}__input-wrapper_type_from-to`)
        +input-date({labelText: labelTextFromTo, placeholderColor: 'dark', isCustomValidation: true})
    div(class = `${elementName}__calendar-wrapper js-${elementName}__calendar-wrapper ${modifiers}`)
      div(class = `${elementName}__buttons`)
        div(class = `${elementName}__button-clear js-${elementName}__button-clear`)
          +button({
            text: 'очистить', 
            type: 'plain-text',
          })
        div(class = `${elementName}__button-apply js-${elementName}__button-apply`)
          +button({
            text: 'применить', 
            type: 'plain-text',
          })
    div(class = `${elementName}__error-message js-${elementName}__error-message`)
      +error-message()

