mixin date-dropdown(options={})
	-
		var modificator=''
		var width=''
		var src='assets/img/interface/expand_more.svg'
		options.type=='filterDateDropDown'?modificator=options.elemName+'__calendar-wrapper_narrow':modificator=''
		options.type=='filterDateDropDown'?width='_narrow':width='_wide'
	div(class=options.elemName+' '+options.elemName+width)
		if options.type=='dateDropDown'
			div(class=options.elemName+'__input-wrapper')
				label(class=options.elemName+'__label')
					if options.labelTextFrom
						p(class=options.elemName+'__label-text')=options.labelTextFrom
					img(class=options.elemName+'__img '+options.elemName+'__img_collapsed', src=src)
					input(class=options.elemName+'__input '+options.elemName+'__input_from '+options.elemName+'__input_narrow js-masked', placeholder="ДД.ММ.ГГГГ", type=text)
			div(class=options.elemName+'__input-wrapper')
				label(class=options.elemName+'__label')
					if options.labelTextTo
						p(class=options.elemName+'__label-text')=options.labelTextTo
					img(class=options.elemName+'__img '+options.elemName+'__img_collapsed', src=src)
					input(class=options.elemName+'__input '+options.elemName+'__input_to '+options.elemName+'__input_narrow js-masked', placeholder="ДД.ММ.ГГГГ", type=text)
		if options.type=='filterDateDropDown'
			div(class=options.elemName+'__input-wrapper')
				label(class=options.elemName+'__label')
					if options.labelTextFromTo
						p(class=options.elemName+'__label-text')=options.labelTextFromTo
					img(class=options.elemName+'__img '+options.elemName+'__img_collapsed', src=src)
					input(class=options.elemName+'__input '+options.elemName+'__input_fromto '+options.elemName+'__input_wide ', value="2021-08-19,2021-08-23", type=text, readonly=true)
		div(class=options.elemName+'__calendar-wrapper '+options.elemName+'__calendar-wrapper_hidden '+modificator)
			div(class=options.elemName+'__buttons')
				button(class=options.elemName+'__button-clear') очистить
				button(class=options.elemName+'__button-apply') применить



