include ../button/button.pug
include ../error-message/error-message.pug
include ../info-sign/info-sign.pug

mixin booking(options = {})
  -
    const {
      roomNumber = 0,
      lux = '',
      roomPrice = 0,
      daysAmount = 0,
      totalPrice = 0,
      sale = 0,
      saleTotal = 0,
      extraTotal = 0,
      totalAmount = 0,
      actionAddress = '/test.php',
    } = options

    const {
      dropdownGuests,
      dateDropdown,
      button
    } = require('@com/booking/booking.json')

    const elementName = 'booking'

  form(class = `${elementName} js-${elementName}` method = "get" action = actionAddress)
    div(class = `${elementName}__error-message js-${elementName}__error-message`)
      +error-message()
    div(class = `${elementName}__details`)
      div(class = `${elementName}__details-room`)
        span(class = `${elementName}__detail-mark`) №
        span(class = `${elementName}__detail-number`)= roomNumber
        span(class = `${elementName}__detail-lux`)= lux
      div(class = `${elementName}__details-price`)
        span(class = `js-${elementName}__detail-price ${elementName}__detail-price` data-price = roomPrice)= `${roomPrice.toLocaleString('ru-RU')}₽`
        span(class = `${elementName}__detail-label`) в сутки
    div(class = `${elementName}__date-dropdown`)
      +date-dropdown(dateDropdown)
    div(class = `${elementName}__guests`)
      +dropdown(dropdownGuests)
    div(class = `${elementName}__price-breakdown`)
      div(class = `js-${elementName}__price-base-name ${elementName}__price-base-name`)= `${roomPrice.toLocaleString('ru-RU')}₽ x ${daysAmount} суток`
      div(class = `js-${elementName}__price-base-cost ${elementName}__price-base-cost`)= `${totalPrice.toLocaleString('ru-RU')}₽`
      div(class = `js-${elementName}__price-service-name ${elementName}__price-service-name` data-discount = sale)= `Сбор за услуги: скидка ${(sale *4).toLocaleString('ru-RU')}₽`
      div(class = `${elementName}__price-service-info`)
        +info-sign({text: 'Описание для "Сбор за услуги"'})
      div(class = `${elementName}__price-service-cost`)= `${saleTotal}₽`
      div(class = `${elementName}__price-extra-name`) Сбор за дополнительные услуги
      div(class = `${elementName}__price-extra-info`)
        +info-sign({text: 'Описание для "Сбор за дополнительные услуги"'})
      div(class = `js-${elementName}__price-extra-cost ${elementName}__price-extra-cost` data-extra = extraTotal)= `${extraTotal.toLocaleString('ru-RU')}₽`
    div(class = `${elementName}__price-total-wrapper`)
      div(class = `${elementName}__price-total-name`) Итого
      div(class = `${elementName}__price-total-delimiter`)
      div(class = `js-${elementName}__price-total-cost ${elementName}__price-total-cost`)= `${totalAmount.toLocaleString('ru-RU')}₽`
    div(class = `${elementName}__book-button`)
      +button(button)
