include ../button/button.pug

mixin booking(options={})
  -
    let elemName = 'booking'
  form(class = elemName + ' js-' + elemName)
    div(class = elemName + '__details')
      div(class = elemName + '__details-room')
        span(class = elemName + '__detail-mark') №
        span(class = elemName + '__detail-number')= options.roomNumber
        span(class = elemName + '__detail-is-lux')= options.isLux
      div(class = elemName + '__details-price')
        span(class = elemName + '__detail-price')= options.roomPrice
        span(class = elemName + '__detail-price-currency') ₽
        span(class = elemName + '__detail-label') в сутки
    div(class = elemName + '__date-dropdown')
      +date-dropdown(
        {width:'wide',
        type:'dateDropDown',
        labelTextFrom: 'Прибытие',
        labelTextTo: 'Выезд'}
        )
    div(class = elemName + '__guests')
      +dropdown(
        {categories:
          {cat1: {displayName: 'взрослые', type: 'гость', typeforms: 'гость,гостя,гостей',  defaultCnt: 0, minCnt: 0, maxCnt: 99}, 
          cat2: {displayName: 'дети', type: 'гость', typeforms: 'гость,гостя,гостей', defaultCnt: 0, minCnt: 0, maxCnt: 99}, 
          cat3: {displayName: 'младенцы', type: 'младенец', typeforms: 'младенец,младенца,младенцев', defaultCnt: 0, minCnt: 0, maxCnt: 99}}, 
        type: 'dropDownGuests',
        placeholder: 'Сколько гостей',
        buttons: true,
        labelText: 'гости',
        width: 'wide'}
        )
    div(class = elemName + '__price-breakdown')
      div(class = elemName + '__price-details')
        div(class = elemName + '__price-detail')
          span(class = elemName + '__price-detail-value')= options.roomPrice
          span(class = elemName + '__price-detail-value-currency') ₽ x
          span(class = elemName + '__price-detail-days-amount')= options.daysAmount
          span(class = elemName + '__price-detail-day') суток
        div(class = elemName + '__price-detail')
          span(class = elemName + '__price-detail-price-total')= options.totalPrice
          span(class = elemName + '__price-detail-price-total-currency'  ) ₽
      div(class = elemName + '__price-details')
        div(class = elemName + '__price-detail')
          span(class = elemName + '__price-detail-sale') Сбор за услуги: скидка
          span(class = elemName + '__price-detail-sale-val')= options.sale
          span(class = elemName + '__price-detail-sale-currency'  ) ₽
        a(class = elemName + '__price-detail-info' href = 'https://test/test') 
          image(class = elemName + '__price-detail-info-image' src = require('@com/booking/image/info.svg') alt = 'Узнать больше')
        div(class = elemName + '__price-detail')
          span(class = elemName + '__price-detail-sale-total')= options.saleTotal
          span(class = elemName + '__price-detail-sale-price-currency') ₽
      div(class = elemName + '__price-details')
        div(class = elemName + '__price-detail')
          p(class = elemName + '__price-detail-extra') Сбор за дополнительные услуги
        a(class = elemName + '__price-detail-info' href = 'https://test/test') 
          image(class = elemName + '__price-detail-info-image' src = require('@com/booking/image/info.svg') alt = 'Узнать больше')
        div(class = elemName + '__price-detail')
          span(class = elemName + '__price-detail-extra-total')= options.extraTotal
          span(class = elemName + '__price-detail-extra-total-currency') ₽
    div(class = elemName + '__price-total')
      span(class = elemName + '__price-total-label') Итого
      span(class = elemName + '__price-total-filling') 
      div(class = elemName + '__price-total-price')
        span(class = elemName + '__price-total-amount')= options.totalAmount
        span(class = elemName + '__price-total-amount-currency') ₽
    div(class = elemName + '__booking')
      +btn(
        {text: 'забронировать',
        type: 'submit',
        length: 'very-long',
        width: 'wide',
        color: 'dark',
        image: true}
        )