include ../button/button.pug
include ../info/info.pug

mixin booking(options = {})
  -
    const {roomNumber = '',
      lux = '',
      roomPrice = '',
      daysAmount = '',
      totalPrice = '',
      sale = '',
      saleTotal = '',
      extraTotal = '',
      totalAmount = ''} = options

    const {
      dropdownGuests,
      dateDropdown,
      button
    } = require('@com/booking/booking.json')

    const elementName = 'booking'

  form(class = `${elementName} js-${elementName}`)
    div(class = `${elementName}__details`)
      div(class = `${elementName}__details-room`)
        span(class = `${elementName}__detail-mark`) №
        span(class = `${elementName}__detail-number`)= roomNumber
        span(class = `${elementName}__detail-lux`)= lux
      div(class = `${elementName}__details-price`)
        span(class = `${elementName}__detail-price`)= `${roomPrice}₽`
        span(class = `${elementName}__detail-label`) в сутки
    div(class = `${elementName}__date-dropdown`)
      +date-dropdown(dateDropdown)
    div(class = `${elementName}__guests`)
      +dropdown(dropdownGuests)
    div(class = `${elementName}__price-breakdown`)
      div(class = `${elementName}__price-details`)
        div(class = `${elementName}__price-name`)= `${roomPrice}₽ x ${daysAmount} суток`
        div(class = `${elementName}__price-cost`)= `${totalPrice}₽`
      div(class = `${elementName}__price-details`)
        div(class = `${elementName}__price-name`)= `Сбор за услуги: скидка ${sale}₽`
          div(class = `${elementName}__price-info`)
            +info()
        div(class = `${elementName}__price-cost`)= `${saleTotal}₽`
      div(class = `${elementName}__price-details`)
        div(class = `${elementName}__price-name`) Сбор за дополнительные услуги
          div(class = `${elementName}__price-info`)
            +info()
        div(class = `${elementName}__price-cost`)= `${extraTotal}₽`
      div(class = `${elementName}__price-details`)
        div(class = `${elementName}__price-total-name`) Итого
        div(class = `${elementName}__price-total-filling`) 
        div(class = `${elementName}__price-total-cost`)= `${totalAmount}₽`
    div(class = `${elementName}__book-button`)
      +button(button)
