include ../button/button.pug

mixin booking(options = {})
  -
    const {roomNumber = '',
      lux = '',
      roomPrice = '',
      daysAmount = '',
      totalPrice = '',
      sale = '',
      saleTotal = '',
      extraTotal = '',
      totalAmount = ''} = options

    const {
      dropdownGuests,
      dateDropdown,
      button
    } = require('@com/booking/booking.json')

    const elementName = 'booking'

  form(class = `${elementName} js-${elementName}`)
    div(class = `${elementName}__details`)
      div(class = `${elementName}__details-room`)
        span(class = `${elementName}__detail-mark`) №
        span(class = `${elementName}__detail-number`)= roomNumber
        span(class = `${elementName}__detail-lux`)= lux
      div(class = `${elementName}__details-price`)
        span(class = `${elementName}__detail-price`)= `${roomPrice}₽`
        span(class = `${elementName}__detail-label`) в сутки люкс
    div(class = `${elementName}__date-dropdown`)
      +date-dropdown(dateDropdown)
    div(class = `${elementName}__guests`)
      +dropdown(dropdownGuests)
    div(class = `${elementName}__price-breakdown`)
      div(class = `${elementName}__price-base-name`)= `${roomPrice}₽ x ${daysAmount} суток Lorem ipsum dolor sit amet consectetur adipisicing elit`
      div(class = `${elementName}__price-base-cost`)= `${totalPrice}₽`
      div(class = `${elementName}__price-service-name`)= `Сбор за услуги: скидка Lorem ipsum dolor sit amet consectetur adipisicing elit ${sale}₽`
      div(class = `${elementName}__price-service-cost`)= `${saleTotal}₽`
      div(class = `${elementName}__price-extra-name`) Сбор за дополнительные услуги Lorem ipsum dolor sit amet consectetur adipisicing elit
      div(class = `${elementName}__price-extra-cost`)= `${extraTotal}₽`
      div(class = `${elementName}__price-total-name`) Итого
      div(class = `${elementName}__price-total-cost`)= `${totalAmount}₽`
    div(class = `${elementName}__book-button`)
      +button(button)
