include ../button/button.pug

mixin booking-info()
  -
    const elementName = 'booking'

  a(class = `${elementName}__price-info` href = 'https://test/test') 
    image(class = `${elementName}__price-info-image` 
      src = require('@com/booking/image/info.svg') alt = 'Узнать больше')

mixin booking({roomNumber = '', isLux = '', roomPrice = '', daysAmount = '', totalPrice = '', sale = '', saleTotal = '', extraTotal = '', totalAmount = ''} = {})
  -
    const elementName = 'booking'

  form(class = `${elementName} js-${elementName}`)
    div(class = `${elementName}__details`)
      div(class = `${elementName}__details-room`)
        span(class = `${elementName}__detail-mark`) №
        span(class = `${elementName}__detail-number`)= roomNumber
        span(class = `${elementName}__detail-is-lux`)= isLux
      div(class = `${elementName}__details-price`)
        span(class = `${elementName}__detail-price`)= `${roomPrice}₽`
        span(class = `${elementName}__detail-label`) в сутки
    div(class = `${elementName}__date-dropdown`)
      +date-dropdown(
        {width:'wide',
        type:'dateDropDown',
        labelTextFrom: 'Прибытие',
        labelTextTo: 'Выезд'}
        )
    div(class = `${elementName}__guests`)
      +dropdown(
        {categories:
          [ {
            displayName: 'взрослые',
            categoryType: 'гость',
            declensions: 'гость,гостя,гостей',
            defaultCount: 0,
            minCount: 0,
            maxCount: 99,
            }, 
            {
            displayName: 'дети',
            categoryType: 'гость',
            declensions: 'гость,гостя,гостей',
            defaultCount: 0,
            minCount: 0,
            maxCount: 99,
            },
            {displayName: 'младенцы',
            categoryType: 'младенец',
            declensions: 'младенец,младенца,младенцев',
            defaultCount: 0,
            minCount: 0,
            maxCount: 99,
            }], 
        type: 'dropDownGuests',
        placeholder: 'Сколько гостей',
        buttons: true,
        labelText: 'гости',
        width: 'wide'}
        )
    div(class = `${elementName}__price-breakdown`)
      div(class = `${elementName}__price-details`)
        div(class = `${elementName}__price-name`)= `${roomPrice}₽ x ${daysAmount} суток`
        div(class = `${elementName}__price-cost`)= `${totalPrice}₽`
      div(class = `${elementName}__price-details`)
        div(class = `${elementName}__price-name`)= `Сбор за услуги: скидка ${sale}₽`
          +booking-info()
        div(class = `${elementName}__price-cost`)= `${saleTotal}₽`
      div(class = `${elementName}__price-details`)
        div(class = `${elementName}__price-name`) Сбор за дополнительные услуги
          +booking-info()
        div(class = `${elementName}__price-cost`)= `${extraTotal}₽`
      div(class = `${elementName}__price-details`)
        div(class = `${elementName}__price-name`) Итого
        div(class = `${elementName}__price-total-filling`) 
        div(class = `${elementName}__price-cost`)= `${totalAmount}₽`
    div(class = `${elementName}__book-button`)
      +button(
        {text: 'забронировать',
        type: 'submit',
        length: 'very-long',
        width: 'wide',
        color: 'dark',
        image: true}
        )