mixin range-slider(options = {})
  -
    const {
      labelText = '',
      text = '',
      sliderType = 0,
      min = 0,
      max = 0,
      step = 0,
      from = 0,
      to = 0,
      isMinMaxHidden = 'false',
      isFromToHidden = 'false'
    } = options

    const prepareOptions = require ('@com/range-slider/range-slider-utils.js').default;

    const {
      elementName,
      isMinMaxHiddenChecked,
      isFromToHiddenChecked,
      sliderTypeChecked,
      minChecked,
      maxChecked,
      stepChecked,
      fromChecked,
      toChecked,
      } = prepareOptions({
        isMinMaxHidden,
        isFromToHidden,
        sliderType,
        min,
        max,
        step,
        from,
        to,
      });

  div(class = `${elementName} js-${elementName}`)
    div(class = `${elementName}__wrapper`)
      div(class = `${elementName}__title-wrapper`)
        if labelText
          h3(class = `${elementName}__title`)= labelText
        div(class = `${elementName}__price`)
          input(class = `${elementName}__price-from` type = 'text')
          span(class = `${elementName}__price-delimiter`) -
          input(class = `${elementName}__price-to` type = 'text')
      input(class = `${elementName}__slider` type = 'text'
        data-type = sliderTypeChecked data-min = minChecked data-max = maxChecked data-step = stepChecked 
        data-from = fromChecked data-to = toChecked data-hide-min-max = isMinMaxHiddenChecked data-hide-from-to = isFromToHiddenChecked)
      span(class = `${elementName}__text`)= text