mixin error-message()
  -
    const elementName = 'error-message'

  div(class = `${elementName} js-${elementName}`)
    span(class = `${elementName}__text js-${elementName}__text`)
    button(class = `${elementName}__close-button js-${elementName}__close-button`)
