mixin radiobuttons({labelStyle = '', labelText = '', categories = [], radioGroupName = '', js = ''} = {})
  -
    const elementName='radiobuttons'
  fieldset(class = elementName)
    p(class = `${elementName}__label ${labelStyle}`)= labelText
    ul(class = `${elementName}__list`)
      each value in categories
        li(class = `${elementName}__category-wrapper`)
          label(class = `${elementName}__category`)
            input(class = `${elementName}__category-checkbox ${value.js}`
              type = "radio" name = radioGroupName, value = value.name, checked = value.checked)
            span(class = `${elementName}__category-radiomark`)
            p(class = `${elementName}__category-name`)= value.name