mixin radiobuttons(options = {})
  -
    const {labelText = '',
      categories = [],
      radioGroupName = ''} = options

    const elementName = 'radiobuttons'

  fieldset(class = elementName)
    h3(class = `${elementName}__label`)= labelText
    ul(class = `${elementName}__list`)
      if Array.isArray(categories) && categories.length
        each category in categories
          - const {value = '', checked = false} = category
          li(class = `${elementName}__category-wrapper`)
            label(class = `${elementName}__category`)
              input(class = `${elementName}__category-checkbox`
                type = "radio" name = radioGroupName value = value checked = checked)
              span(class = `${elementName}__category-radiomark`)
              span(class = `${elementName}__category-name`)= value