include ../components/logo/logo.pug
mixin colorCard(classList="", name="", code="")
	-
		var classList = "colorCard__color" + classList
	div(class="colorCard")
		div(class=classList)
		div(class="colorCard__name")=name
		div(class="colorCard__code")=code
mixin typeCard(classList="", name="", text="")
	-
		var classList = "typeCard__name" + classList
	span(class="typeCard")
		span(class=classList)=name
		span(class="typeCard__text")=text
+logo-grey()
div(class="colorsTypes__wrapper")
	div(class="colors__wrapper")
		+colorCard(" colorCard__color-colorDarkShade100", "Dark Shade 100%", "#1F2041")
		+colorCard(" colorCard__color-colorDarkShade75", "Dark Shade 75%", "#1F2041")
		+colorCard(" colorCard__color-colorDarkShade50", "Dark Shade 50%", "#1F2041")
		+colorCard(" colorCard__color-colorDarkShade25", "Dark Shade 25%", "#1F2041")
		+colorCard(" colorCard__color-colorDarkShade5", "Dark Shade 5%", "#1F2041")
		+colorCard(" colorCard__color-colorPurple", "Purple", "#BC9CFF")
		+colorCard(" colorCard__color-colorGreen", "Green", "#6FCF97")
	div(class="types__wrapper")
		h1
			+typeCard("", "H1", "This one is the sub-section or widget title")
		h2
			+typeCard("", "H2", "Next one is the item title inside widgets")
		h3
			+typeCard("", "H3", "This is a label or cta text")
		p
			+typeCard("", "Body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")