include ../button/button.pug

mixin header({menu = [], authorized = false} = {})
  -
    const elementName = 'header'

  header(class = `${elementName} js-${elementName}`)
    button(class = `${elementName}__burger-button` aria-label = 'навигация')
      span(class = `${elementName}__burger`)
    div(class = `${elementName}__wrapper`)
      a(class = `${elementName}__logo` href = 'index.html')
        image(class = `${elementName}__logo-image` src = require('@com/header/image/logo-purple.svg') alt = 'на главную')
      nav(class = `${elementName}__nav-level1 js-${elementName}__nav-level1`) 
        ul(class = `${elementName}__nav-level1-items`)
          if Array.isArray(menu) && menu.length
            each value in menu
              - const {name = '', subMenu = []} = value
              li(class = `${elementName}__nav-level1-item`)
                a(class = `${elementName}__nav-level1-item-link` href = 'https://test/test')= name
                  if Array.isArray(subMenu) && subMenu.length
                    image(class = `${elementName}__nav-level1-item-image js-${elementName}__nav-level1-item-image` src = require('@com/header/image/expand-more.svg') alt = 'раскрывающийся список')
                    ul(class = `${elementName}__nav-level2 js-${elementName}__nav-level2`)
                      each subValue in subMenu
                        li(class = `${elementName}__nav-level2-item`) 
                          a(class = `${elementName}__nav-level2-item-link` href = 'https://test/test')= subValue
      div(class = `${elementName}__auth`) 
        if (!authorized)
          div(class = `${elementName}__button-login`) 
            +button(
              {text: 'войти',
              type: 'link',
              length: 'very-short',
              width: 'narrow',
              color: 'light',
              href: 'https://test/test'}
              )
          div(class = `${elementName}__button-reg`) 
            +button(
              {text: 'зарегистрироваться',
              type: 'link',
              length: 'long',
              width: 'narrow',
              color: 'dark',
              href: 'https://test/test'}
              )
        else
          div(class = `${elementName}__profile`) 
            a(class = `${elementName}__profile-name` href = 'https://test/test')  Юлий Цезарь
