mixin input-field(options ={})
  -
    const { 
      width = '',
      validation = '',
      placeholder = '',
      labelText = '',
      hasArrow = false,
      inputType = 'text',
      inputMin = '',
      inputMax = '',
    } = options

    const prepareOptions = require ('@com/input-field/input-field-utils.js').default;

    const {
      elementName,
      widthChecked,
      validationChecked
      } = prepareOptions({
        width,
        validation,
    });

  div(class = `${elementName} js-${elementName} ${elementName}_width_${widthChecked} js-${elementName}_validation_${validationChecked}`)
    label(class = `${elementName}__label`)
      if labelText
        h3(class = `${elementName}__label-text`)= labelText
      if hasArrow
        button(class = `${elementName}__link` aria-label = name)
      input(class = `${elementName}__input js-${elementName}__input` placeholder = placeholder type = inputType min = inputMin max = inputMax )