mixin input-field({width = '', placeholder = '', labelText = '', hasImage = false, inputType = 'text', inputMin = '', inputMax = '', validation = ''} ={})
  -
    function getValidValue (list, value, defaultValue = '') {
      return value = list.includes(value) ? value : defaultValue
    }
    const elementName = 'input-field'

    const validWidths = ['wide', 'medium', 'medium-narrow']
    width = getValidValue(validWidths, width, 'wide')

    const validationTypes = ['date', 'email']
    validation = getValidValue(validationTypes, validation)

    const inputWidth = `_width_${width}`

  div(class = `${elementName} js-${elementName} ${elementName}_width_${width} js-${elementName}_validation_${validation}`)
    label(class = `${elementName}__label`)
      if labelText
        p(class = `${elementName}__label-text`)= labelText
      if hasImage
        button(class = `${elementName}__link` aria-label = name)
          image(class = `${elementName}__image`, src = require('@com/input-field/image/arrow-forward.svg'))
      input(class = `${elementName}__input js-${elementName}__input` placeholder = placeholder type = inputType min = inputMin max = inputMax )