mixin input(elemName, labelText, classList="", placeholder="", img)
	div(class=elemName)
		label(class=elemName+"__label")
			if labelText
				p(class=elemName+"__labelText")=labelText
			if img
				button(class=elemName+"__link")
					img(class=elemName+"__img", src="assets/img/interface/arrow_forward.svg")
			input(class=elemName+"__input"+classList, placeholder=placeholder, type="text")





