mixin input({width = '', placeholder = '', labelText = '', image = false, name = '', js = '', inputType = 'text', inputMin = '', inputMax = ''} ={})
  -
    const elementName = 'input-field'
  div(class = `${elementName} ${elementName}_width_${width}`)
    label(class = `${elementName}__label`)
      if labelText
        p(class = `${elementName}__label-text`)= labelText
      if image
        button(class = `${elementName}__link` aria-label = name)
          image(class = `${elementName}__image`, src = require('@com/input-field/image/arrow-forward.svg'))
      input(class = `${elementName}__input ${js}` placeholder = placeholder type = inputType min = inputMin max = inputMax )