mixin color-card({color = 'dark-shade-100', name = '', code = ''} = {})
  -
    const elementName = 'color-card'
    const validColors = ['dark-shade-100',
      'dark-shade-75',
      'dark-shade-50',
      'dark-shade-25',
      'dark-shade-5',
      'purple',
      'green',]
    color = validColors.includes(color) ? color : 'dark-shade-100'

  div(class = elementName)
    div(class = `${elementName}__color ${elementName}__color_${color}`)
    div(class = `${elementName}__name`)= name
    div(class = `${elementName}__code`)= code