mixin color-card(options = {})
  -
    const {
      color = 'dark-shade-100',
      name = '',
      code = '',
    } = options

    const prepareOptions = require ('@com/color-card/color-card-utils.js').default;
    const {
      elementName, 
      colorChecked,
    } = prepareOptions({color});

  div(class = elementName)
    div(class = `${elementName}__color ${elementName}__color_${colorChecked}`)
    div(class = `${elementName}__name`)= name
    div(class = `${elementName}__code`)= code