include ../like-button/like-button.pug

mixin feedback(options = {})
  -
    let {imageName = require('@com/feedback/image/default.svg')} = options
    const {name = '', 
      date = '',
      description = '',
      alt = '',
      isLiked = false,
      likeAmount = 0} = options
    const elementName ='feedback'

    function validateImagePath(path){
      const result = /^assets\/images\//.test(path)
      return result ? path : require('@com/feature/image/default.svg')
      }

    imageName = validateImagePath(imageName)

  div(class = elementName)
    image(class = `${elementName}__image` src = imageName alt = alt)
    p(class = `${elementName}__name`)= name
    p(class = `${elementName}__date`)= date
    div(class = `${elementName}__like`)
      +like-button({
        isLiked, 
        likeAmount})
    p(class = `${elementName}__description`)= description




