include ../input-field/input-field.pug
include ../logo/logo.pug

mixin footer({ menu = [] } = {})
  -
    const elementName = 'footer'
    const social = [
      {name: 'twitter', link: 'https://twitter.com'}, 
      {name: 'facebook', link: 'https://www.facebook.com'}, 
      {name: 'instagram', link: 'https://www.instagram.com'},
      ]

  footer(class = elementName role = "contentinfo")
    div(class = `${elementName}__wrapper-top`)
      div(class = `${elementName}__items`)
        div(class = `${elementName}__logo`)
          +logo({ logoColor: 'purple' })
        span(class = `${elementName}__long-text`) Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      if Array.isArray(menu) && menu.length
        each value in menu
          - const {name = '', items = []} = value
          ul(class = `${elementName}__items`)
            li(class = `${elementName}__items-header`)= name
              if Array.isArray(items) && items.length
                each subValue in items
                  li(class = `${elementName}__item`)
                    a(class = `${elementName}__item-link` href = "https://test/test")= subValue
      div(class = `${elementName}__items`) подписка
        span(class = `${elementName}__long-text`) Получайте специальные предложения и новости сервиса
        form(class = `${elementName}__subscription`)
          +input-field({
            width: 'medium-narrow',
            placeholder: 'Email',
            hasArrow: true,
            name: 'оформить подписку',
            inputType: 'email',
            validation: 'email',
          })
    div(class = `${elementName}__wrapper-middle`)
    div(class = `${elementName}__wrapper-bottom`)
      div(class = `${elementName}__copyright`) Copyright © 2018 Toxin отель. Все права защищены.
      div(class = `${elementName}__social-links`)
        each value in social
          a(class = `${elementName}__social-link ${elementName}__social-link_${value}` href = value.link target = "_blank" rel = "noopener noreferrer")
            img(class = `${elementName}__social-link-image ${elementName}__social-link-image_${value}` src = require(`@com/footer/image/${value.name}.svg`) alt = `${value.name} link`)