include ../input-field/input-field.pug

mixin footer({menu = []} = {})
  -
    const elementName = 'footer'
    const social = ['twitter', 'facebook', 'instagram']

  footer(class = elementName role = 'contentinfo')
    div(class = `${elementName}__wrapper-top`)
      ul(class = `${elementName}__items`)
        a(class = `${elementName}__logo` href = 'https://test/test')
          img(class = `${elementName}__logo-image`
            src = require('@com/footer/image/logo-purple.svg') alt = 'на главную')
        li(class = `${elementName}__item`)
          p(class = `${elementName}__long-text`) Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      if Array.isArray(menu) && menu.length
        each value in menu
          - const {name = '', items = []} = value
          ul(class = `${elementName}__items`)
            li(class = `${elementName}__items-header`)= name
              if Array.isArray(items) && items.length
                each subValue in items
                  li(class = `${elementName}__item`)
                    a(class = `${elementName}__item-link` href = 'https://test/test')= subValue
      ul(class = `${elementName}__items`)
        li(class = `${elementName}__items-header`) подписка
        li(class = `${elementName}__item`)
          p(class = `${elementName}__long-text`) Получайте специальные предложения и новости сервиса
        li(class = `${elementName}__item`)
          +input-field({
            width: 'medium-narrow',
            placeholder: 'Email',
            hasImage: true,
            name: 'оформить подписку',
            inputType: 'email',
            validation: 'email'})
    div(class = `${elementName}__wrapper-middle`)
    div(class = `${elementName}__wrapper-bottom`)
      div(class = `${elementName}__copyright`)
        p(class = `${elementName}__long-text`) Copyright © 2018 Toxin отель. Все права защищены.
      div(class = `${elementName}__social-links`)
        each value in social
          a(class = `${elementName}__social-link ${elementName}__social-link_${value}` href = 'https://test/test')
            img(class = `${elementName}__social-link-image ${elementName}__social-link-image_${value}` src = require(`@com/footer/image/${value}.svg`) alt = `${value} link`)