include ../error-message/error-message.pug

mixin input-email(options ={})
  -
    const { 
      width = '',
      labelText = '',
      hasArrow = false,
    } = options

    const prepareOptions = require ('@com/input-email/input-email-utils.js').default;

    const {
      elementName,
      arrowModifier,
      widthChecked
      } = prepareOptions({
        width,
        hasArrow,
    });

  div(class = `${elementName} js-${elementName} ${elementName}_width_${widthChecked}`)
    div(class = `${elementName}__error-message js-${elementName}__error-message`)
      +error-message()
    label(class = `${elementName}__label`)
      if labelText
        h3(class = `${elementName}__label-text`)= labelText
      input(class = `${elementName}__input js-${elementName}__input${arrowModifier}` placeholder = "Email" type = "email" )
      if hasArrow
        button(class = `${elementName}__link` aria-label = name)