include ../input-field/input-field.pug
include ../button/button.pug

mixin login()
  -
    const elementName = 'login'
  div(class = `${elementName} js-${elementName}`)
    form(class = `${elementName}__login-form js-${elementName}__login-form`)
      h1(class = `${elementName}__header`) Войти
      fieldset(class = `${elementName}__credentials`) 
        div(class = `${elementName}__email`)
          +input(
            {width: 'wide',
            placeholder: 'Email',
            js:'js-check-email',
            inputType: 'email',
            }
            )
        div(class = `${elementName}__password`)
          +input(
            {width: 'wide',
            placeholder: 'Пароль',
            inputType: 'password',
            } 
            )
      div(class = `${elementName}__login-button`)
        +button(
          {text: 'войти',
          type: 'submit',
          length: 'very-long',
          width: 'wide',
          color: 'dark',
          image: true}
          )
    div(class = `${elementName}__go-to-registration` role='region' aria-label = 'Нет аккаунта на Toxin')
      p(class = `${elementName}__go-to-registration-legend`) Нет аккаунта на Toxin?
      +button(
        {text: 'создать',
        type: 'link',
        length: 'short',
        width: 'wide',
        color: 'light',
        href: 'https://test/test'}
        )
