mixin toggle({js = '', labelText = '', name = '', isChecked = false} = {})
  -
    function checkType (type, value, defaultValue){
      return typeof value === type ? value : defaultValue
    }

    const elementName = 'toggle'

    isChecked  = checkType('boolean', isChecked, false)

  div(class = elementName)
    label(class = `${elementName}__label`)
      if labelText
        p(class = `${elementName}__label-text`)= labelText
      label(class = `${elementName}__wrapper`)
        input(class = `${elementName}__checkbox ${js}`, type = "checkbox" name = name value = name checked = isChecked)
        span(class = `${elementName}__checkmark`)
          span(class = `${elementName}__ball`)
        p(class = `${elementName}__name`)= name