mixin toggle(options = {})
  -
    const {labelText = '',
      name = '',
      isChecked = false} = options

    const elementName = 'toggle'

  label(class = elementName)
    if labelText
      h3(class = `${elementName}__label-text`)= labelText
    input(class = `${elementName}__checkbox`, type = "checkbox" name = name value = name checked = isChecked)
    span(class = `${elementName}__checkmark`)
      span(class = `${elementName}__ball`)
    span(class = `${elementName}__name`)= name