include ../rate-button/rate-button.pug

mixin add-image(imageNumber = 0, imageName = require('@com/room-card/image/default.svg'), isFirstImage = false)
  -
    function isImage(path){
      const result = /^assets\/images\//.test(path)
      return result ? path : require('@com/feature/image/default.svg')
      }

    const elementName = 'room-card'
    const modifier = isFirstImage ? `${elementName}__photo_shown js-${elementName}__photo_shown` : ''
    imageName = isImage(imageName)

  image(class = `${elementName}__photo js-${elementName}__photo ${modifier}` 
  alt = 'фото номера' src = imageName data-sequence = imageNumber)


mixin room-card({roomNumber = '', roomPrice = '', feedbackAmount = '', ratingName = '', lux = '', imageList = []} = {})
  -
    const elementName = 'room-card'


  div(class = `${elementName} js-${elementName}`)
    div(class = `${elementName}__slider js-${elementName}__slider`)
      a(class = `${elementName}__photos` href = 'https://test/test' aria-label= 'Перейти к деталям номера')
      each name, index in imageList
        if index === 0
          +add-image(index+1, name, true)
        else
          +add-image(index+1, name)
      div(class = `${elementName}__dots js-${elementName}__dots`)
      div(class = `${elementName}__buttons`)
        button(class = `${elementName}__previous js-${elementName}__previous` type = 'button' aria-label = 'предыдущее фото')
          image(class = `${elementName}__previous-image` alt = 'предыдущее фото'
            src = require('@com/room-card/image/expand-more-white.svg'))
        button(class = `${elementName}__next js-${elementName}__next` type = 'button' aria-label = 'следующее фото')
          image(class = `${elementName}__next-image` alt = 'следующее фото'
            src = require('@com/room-card/image/expand-more-white.svg'))
    div(class = `${elementName}__details`)
      a(class = `${elementName}__details-room` href = 'https://test/test' aria-label='Перейти к деталям номера')
        span(class = `${elementName}__detail-mark` role = 'region' aria-label = '№') №
        span(class = `${elementName}__detail-number` role = 'region' aria-label = 'номер комнаты')= roomNumber
        span(class = `${elementName}__detail-lux` role = 'region' aria-label = 'люкс')= lux
      div(class = `${elementName}__details-price`)
        span(class = `${elementName}__detail-price` role = 'region' aria-label = 'цена')= `${roomPrice}₽`
        span(class = `${elementName}__detail-label` role = 'region' aria-label = 'в сутки') в сутки
    div(class = `${elementName}__rating`)
      div(class = `${elementName}__rate`)
        +rate-button({name: ratingName})
      div(class = `${elementName}__feedback`)
        span(class = `${elementName}__feedback-amount` role = 'region' aria-label = 'количество отзывов')= feedbackAmount
        span(class = `${elementName}__feedback-mark` role = 'region' aria-label = 'отзывы') Отзывов
