include ../button/button.pug
include ../input-date/input-date.pug
include ../error-message/error-message.pug
include ../input-field/input-field.pug
include ../input-email/input-email.pug
include ../radiobuttons/radiobuttons.pug
include ../toggle/toggle.pug

mixin registration({ actionAddress = '/test.php' } = {})
  -
    const elementName = 'registration'

  div(class = `${elementName} js-${elementName}`)
    form(class = `${elementName}__registration-form js-${elementName}__registration-form` method = "post" action = actionAddress)
      div(class = `${elementName}__error-message js-${elementName}__error-message`)
        +error-message()
      h1(class = `${elementName}__header`) Регистрация аккаунта
      fieldset(class = `${elementName}__name-surname`)
        div(class = `${elementName}__name js-${elementName}__name`)
          +input-field({
            width: 'wide',
            placeholder: 'Имя',
            inputType: 'text',
          })
        div(class = `${elementName}__surname js-${elementName}__surname`)
          +input-field({
            width: 'wide',
            placeholder: 'Фамилия',
            inputType: 'text',
          })
      div(class = `${elementName}__radiobuttons`)
        +radiobuttons({
          categories:
            [{value:'Мужчина', checked: true}, {value:'Женщина'}],
          radioGroupName: 'gender'
        })
      div(class = `${elementName}__birth-date`)
        +input-date({
          width: 'wide',
          labelText: 'дата рождения',
        })
      fieldset(class = `${elementName}__credentials`) 
        legend(class = `${elementName}__credentials-legend`) данные для входа в сервис
        div(class = `${elementName}__email`)
          +input-email({
            width: 'wide',
          })
        div(class = `${elementName}__password js-${elementName}__password`)
          +input-field({
            width: 'wide',
            placeholder: 'Пароль',
            inputType: 'password',
          })
      div(class = `${elementName}__special-offer`)
        +toggle({ value: 'Получать спецпредложения' })
      div(class = `${elementName}__register`)
        +button({
          text: 'зарегистрироваться',
          type: 'submit',
          length: 'very-long',
          width: 'wide',
          color: 'dark',
          hasArrow: true,
        })
      div(class = `${elementName}__go-to-login` role = "region" aria-label = "Уже есть аккаунт на Toxin")
        span(class = `${elementName}__go-to-login-legend` ) Уже есть аккаунт на Toxin
        div(class = `${elementName}__login`)
          +button({
            text: 'войти',
            type: 'link',
            length: 'short',
            width: 'wide',
            color: 'light',
            href: 'https://test/test',
          })